$footer-height: 100px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + 30px;
}
.footer {
  background-color: rgba(36, 32, 33, .9);
  color: white;
  bottom: 0;
  height: $footer-height;
  padding: 10px 0px;
  position: absolute;
  width: 100%;

  a {
    color: white;
  }
}

.social-buttons {
  margin-top: 12px;

  img {
    margin: 4px;
  }

  a:hover {
    text-decoration: none;
  }
}

$footer-height-mobile: 200px;
@media (max-width: 750px) {
  .footer {
    height: auto;
    margin-top: 20px;
    position: initial;
  }

}
