h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar {
  background: image-url('binding_dark.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;

  .navbar-brand {
    color: white;
  }
}

.hero {
  background: image-url('hero.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
  height:370px;
  padding-top: 30px;
}

.frosty {
  background: rgba(0, 0, 0, .5);
  color: white;
  padding: 25px;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
